<div class="section">
    <h3>
        شرایط و مقررات شرکت در دوره‌ها
    </h3>
    <p>
        ضمن تشکر از حسن انتخاب شما برای شرکت در دوره‌های آموزشگاه کاما، شرایط  و مقررات آموزشگاه مطابق با موارد زیر می‌باشد:
    </p>
</div>
<div class="section">
    <h5>قوانین و مقررات عمومی:</h5>
    <ul>
        <li>حضور به موقع و منظم در کلاسهای آموزشی الزامی می باشد.</li>
        <li>استفاده از تلفن همراه در کلاس ممنوع است.</li>
        <li>   رعایت نظم و پاکیزگی محیط کلاس الزامی است.</li> 
        <li>   رعایت اصول اخلاقی در خصوص عدم تجاوز به حریم کامپیوترهای شخصی دیگران (دانشجویان و استاد) الزامی است و در صورت عدم رعایت واحد آموزش مجاز است فرد خاطی را از دوره محروم نماید.</li>
        <li>رعایت شئونات اسلامی الزامی می باشد و عواقب تمامی تخلفات در این خصوص بر عهده دانشجو است.</li>
        <li>جهت حفظ شأن استاد و حرمت محیط آموزش، از بردن هر گونه خوراکی و آشامیدنی به داخل کلاس‌ها خودداری نمایید.</li>
        <li>ضبط جلسات تدریس به صورت تصویری ممنوع بوده و ضبط صوتی فقط با هماهنگی اساتید محترم امکان پذیر می باشد.</li>
    </ul>
</div>
<div class="section">
    <h5>   قوانین و مقررات مالی</h5>
    <ul>
        <li>
        دانشجویان گرامی پیش از شروع دوره می بایست نسبت به تسویه حساب کامل دوره اقدام نموده و سپس در دوره حاضر شوند. در غیر اینصورت عواقب عدم تکمیل ثبت نام به عهده خود دانشجو می باشد.
    </li>
        <li>در صورتی که دانشجو به خاطر مشکلات شخصی از ادامه کلاس باز ماند هیچ مسئولیتی بر عهده واحد آموزش نبوده و ملزم به پرداخت کل شهریه کلاس می‌باشد.</li>
    </ul>
</div>

<div class="section">
    <a href="javascript:void(0)" (click)="goBack()" ><strong style="color:rgb(0, 157, 255); ">بازگشت به صفحه قبلی</strong></a>
</div>