<main role="main" >
  <div class="row">
    <div class="col-md-7 container">
      <div class="row">
        <h2 >دوره آموزشی برنامه نویسی سمت کاربر (Front-End)</h2>
      </div>
      <div class="row">
        هدف از این دوره آموزش پیاده‌سازی صفحات وب می‌باشد.
      </div>
      <div class="row">
        <h5>محتوای دوره:</h5>
        <ul>
          <li>آموزش ایجاد صفحات وب بوسیله HTML5 و CSS3.</li>
          <li>آموزش ایجاد صفحات واکنش‌گرا(Responsive) با استفاده از Bootstrap.</li>
          <li>آموزش JavaScript و Jquery برای پویایی و ایجاد صفحات ..interactive.</li>
        </ul>
      </div>
    </div><!-- /.blog-main -->
    
    <aside class="col-md-5">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">مدرس دوره: جواد توکلی</li>
        <li class="list-group-item">هزینه دوره: ۴۵۰ هزار تومان</li>
        <li class="list-group-item">مدت دوره: ۲۰ ساعت</li>
        <li class="list-group-item">زمان برگزاری: روزهای شنبه و چهارشنبه از ساعت ۱۷:۰۰ تا ۱۹:۳۰ </li>
        <li class="list-group-item">محل برگزاری: خیابان دهخدا، شرکت کاما</li>
      </ul>
      
      
    </aside><!-- /.blog-sidebar -->
    
  </div><!-- /.row -->
  
</main><!-- /.container -->