<table class="table">
    <caption>برای دریافت مشاوره قبل از ثبت نام یا برای ثبت نام حضوری به دفتر شرکت مراجعه نمایید.</caption>
    <thead>
        <tr>
            <th scope="col">ردیف</th>
            <th scope="col">دوره</th>
            <th scope="col">تاریخ شروع</th>
            <th scope="col">روز و ساعت</th>
            <th scope="col">مدت(ساعت)</th>
            <th scope="col">ظرفیت باقیمانده (نفر)</th>
            <th scope="col">ثبت نام</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courseList">
            <th scope="row">{{course.id}}</th>
            <td>{{course.title}}</td>
            <td>{{course.eventDate | jalali}}</td>
            <td>{{course.classTimes}} </td>
            <td>{{course.duration}}</td>
            <td>{{course.capacity}}</td>
            <td><button  [className]="course.capacity>0 ? 'btn btn-primary' : 'btn'" routerLink='/register/{{course.id}}' [disabled]="course.capacity==0">ثبت نام</button></td>
        </tr>
    </tbody>
</table>