<table class="table">
    <caption>در حال حاضر ثبت نام به صورت حضوری و در محل شرکت آموزشی صنعتی کاما انجام می شود.</caption>
    <thead >
        <tr>
            <th scope="col">ردیف</th>
            <th scope="col">دوره</th>
            <th scope="col">تاریخ شروع</th>
            <th scope="col">روز و ساعت</th>
            <th scope="col">مدت(ساعت)</th>
            <th scope="col">ظرفیت باقیمانده (نفر)</th>
            <th scope="col">مشاهده</th>
        </tr>
    </thead>
    <tbody *ngIf="courses.courses">
        <tr *ngFor="let course of courses.courses | async">
            <th scope="row">{{course.id}}</th>
            <td>{{course.title}}</td>
            <td>{{course.eventDate | jalali}}</td>
            <td>{{course.classTimes}} </td>
            <td>{{course.duration}}</td>
            <td>{{course.capacity}}</td>
            <td><button  [className]="course.capacity>0 ? 'btn btn-primary' : 'btn'" routerLink='/course/{{course.id}}' [disabled]="course.capacity==0">مشاهده</button></td>
        </tr>
    </tbody>
</table>