<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h5 class="header">ورود به حساب کاربری</h5>
            <div class="card">
                <div class="form-group">
                    <label for="email">نام کاربری</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="data.username" name="username" aria-describedby="emailHelp" placeholder="ایمیل خود را وارد نمایید">
                </div>
                <div class="form-group">
                    <label for="password">گذر واژه</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="data.password" name="password" placeholder="رمز عبور خود را وارد نمایید">
                    
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">ورود</button>
                </div>
            </div>
        </div>
    </div>
</div>