<div id="banner"  class="text-white rounded">
    <img src={{banner}} width="100%"/>
</div>

<div class="row mb-2">
    <div class="col-md-12">
        <table class="table">
            <caption>برای دریافت مشاوره قبل از ثبت نام یا برای ثبت نام حضوری به دفتر شرکت مراجعه نمایید.</caption>
            <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">دوره</th>
                    <th scope="col">تاریخ شروع</th>
                    <th scope="col">روز و ساعت</th>
                    <th scope="col">مدت(ساعت)</th>
                    <th scope="col">ثبت نام</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">۱</th>
                    <td>برنامه‌نویسی سمت کاربر (Front-End)</td>
                    <td>پنجشنبه ۱۲ مردادماه ۱۳۹۷</td>
                    <td>روزهای دوشنبه و چهارشنبه ساعت ۱۷:۳۰ تا ۱۹:۳۰</td>
                    <td>۲۰ ساعت</td>
                    <td><button class="btn btn-primary"  routerLink="/course/1">ثبت نام</button></td>
                </tr>
                <tr>
                    <th scope="row">۲</th>
                    <td>برنامه‌نویسی سمت سرور (Back-End)</td>
                    <td>پنجشنبه ۱۲ مردادماه ۱۳۹۷</td>
                    <td>روزهای دوشنبه و چهارشنبه ساعت ۱۷:۳۰ تا ۱۹:۳۰</td>
                    <td>۲۰ ساعت</td>
                    <td><button class="btn btn-primary"  routerLink="/course/2">ثبت نام</button></td>
                </tr>
                <tr>
                    <th scope="row">۳</th>
                    <td>برنامه‌نویسی موبایل (Android)</td>
                    <td>پنجشنبه ۱۲ مردادماه ۱۳۹۷</td>
                    <td>روزهای دوشنبه و چهارشنبه ساعت ۱۷:۳۰ تا ۱۹:۳۰</td>
                    <td>۲۰ ساعت</td>
                    <td><button class="btn btn-primary"  routerLink="/course/3">ثبت نام</button></td>
                </tr>
                <tr>
                    <th scope="row">۴</th>
                    <td>آموزش تصویرسازی با نرم‌افزار Illustrator</td>
                    <td>پنجشنبه ۱۲ مردادماه ۱۳۹۷</td>
                    <td>روزهای دوشنبه و چهارشنبه ساعت ۱۷:۳۰ تا ۱۹:۳۰</td>
                    <td>۲۰ ساعت</td>
                    <td><button class="btn btn-primary" routerLink="/course/4" >ثبت نام</button></td>
                </tr>
                <tr>
                    <th scope="row">۵</th>
                    <td>آموزش صفحه آرایی با نرم‌افزار InDesign</td>
                    <td>پنجشنبه ۱۲ مردادماه ۱۳۹۷</td>
                    <td>روزهای دوشنبه و چهارشنبه ساعت ۱۷:۳۰ تا ۱۹:۳۰</td>
                    <td>۲۰ ساعت</td>
                    <td><button class="btn btn-primary"  routerLink="/course/5">ثبت نام</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
