<div class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand image" href="http://ikama.ir">
    <img src={{logo}} height="35px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="display:flex; flex-flow: row; width: 100%;">
      <a class="nav-item nav-link" href="#">صفحه اصلی <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="https://ikama.ir/درباره-کاما/">درباره کاما</a>
      <a class="nav-item nav-link" href="https://ikama.ir/shop/">رویدادهای کاما</a>
      <a class="nav-item nav-link" href="https://ikama.ir/تماس-با-ما/">تماس با ما</a>
      <span style="flex: 1 !important"></span>
      <a class="nav-item nav-link" style="color:dodgerblue !important" routerLink='login' *ngIf="!auth.isAuthenticated">
        <i class="fas fa-sign-in-alt"></i>
         به ورود پنل کاربری
      </a>
      <a *ngIf="auth.isAuthenticated" class="nav-item nav-link" (click)='logOut()' >
        <i class="fas fa-sign-in-alt"></i>
        خروج
      </a>
      <a class="nav-item nav-link" style="direction: ltr !important;">(۰۳۴) - ۴۲۲ ۳۵ ۱۸۵ :شماره تماس</a>
    </div>
  </div>
</div>
<hr>