.row{
    line-height: 30px;
}

.container{
    max-width: 650px;
    margin:0 auto;
    .margin{
        margin: 20px 0px;
        margin-left: 12px;
    }
}
.invalid-tooltip{
    width:150px !important;
    max-width: 150px;
    border-radius: .6rem;
}