.success{
    padding: 15px 0px;
    color: green;
}
.result{
    padding: 15px 0px;
}
.container{
    text-align: center;   
    padding: 20px;
}
.success.container{
 border: 1px solid green;
 border-radius: 25px;
 background-color: rgba(221, 255, 221, 0.493);
}
.error.container{
    border: 1px solid red;
    border-radius: 25px;
    background-color: rgba(255, 221, 221, 0.493);
}
.wait.container{
    border: 0px solid red;
    border-radius: 25px;
    background-color:transparent;
}
.btn{
    margin-top: 10px;
}